/* ////////////// */
/* Global Styling */
/* ////////////// */

* {
  background-color: #001a3d;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  height: 40px;
  justify-content: left;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00365f;
}

.nav-link {
  font-size: 20px;
  color: #f6e01f;
  text-decoration: none;
  background-color: #00365f;
  padding: 8px 20px;
}

.nav-link:hover {
  background-color: #fff986;
  color:black;
}

header {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  padding-bottom: 30px;
}

.site-title {
  font-size: 72px;
  color: #f6e01f;
  padding: 48px 0;
}

/* /////////////// */
/* Gallery Styling */
/* /////////////// */

.image-wrapper img {
  max-width: 200px;
  max-height: 160px;
}

.image-wrapper:hover {  
  background-color: #00365f;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-top: solid 2px #00365f;
  border-left: solid 2px #00365f;
  border-radius: 5px;
  width: 210px;
  height: 210px; 
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  border-top: solid 2px #f6e01f;
  border-left: solid 2px #f6e01f;
  background-color: #00365f;
}

.photo-container {
  display: flex;
  justify-content: center;
}

.detail-page-photo img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  border: #00365f solid 5px;
  border-radius: 5px;

}


/* /////////////// */
/* Order Page Styling */
/* /////////////// */

.new-order-form {
  display: flex;
  justify-content: center;
}

.new-order-form table {
  border: solid 10px #f6e01f;
  border-radius: 15px;
  padding: 10px 5px;
}

.new-order-form td {
  color: #fff986;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  width:250px;
}

.new-order-form button {
  font-size: 20px;
  color: #fff986;
  margin: 15px 0;
  height: 60px;
  width:250px;
  border: #f6e01f solid 5px;
  background-color: #00365f;
}

.new-order-form button:hover {
  color: black;
  background-color: #fff986;
}